@import '../../../public/styles/app.scss';
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');


$pad: 30px;
$pad_desk: $pad + 30px;
$nav_color: rgb(134, 134, 134);

nav {
    height: 120px;
    padding: $pad - 10px;
    @extend .min_width;
}

.content {
    @extend .full_dim;
    @extend .flex_row;
    color: $nav_color;
    font-family: 'Caveat', cursive;
    font-size: 32px;
}

.left {
    padding-left: $pad;
}

.right {
    padding-right: $pad;
    justify-content: flex-end;
}


.content>* {
    @extend .content;
}

.a {
    @extend .link;
}


.nav_menu {
    background: none;
    border: none;
    outline: none;
}

@media(min-width: $desktop) {
    .content {
        font-size: 40px;
    }

    .left {
        padding-left: $pad_desk;
    }

    .right {
        padding-right: $pad_desk;
    }
}